<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Movie Recommender</title>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
  <link href="{{ url_for('static', filename='style.css') }}" rel="stylesheet">
</head>
<body style="background: rgb(252, 250, 250);">
  <div class="login">
   <h1 style="text-align:center">Movie Recommender Engine</h1>
    <form action="{{ url_for('predict')}}" method="post">
      <label for="age" style="text-align:center">Movie:  </label>
      <input type="text" name="age" placeholder="type a movie" required="required">
      <br>
      <br>
      <br>
      <button type="submit" class="btn btn-primary btn-block btn-large" style="text-align:center">Recommend Me Movies!</button>
    </form>
    <br>
    <br>
    <h2>
    1. {{ prediction_text }}
    <br>
    <br>
    <br>
    2. {{ prediction_text1 }}
    <br>
    <br>
    <br>
    3. {{ prediction_text2 }}
    <br>
    <br>
    <br>
    4. {{ prediction_text3 }}
    <br>
    <br>
    <br>
    5. {{ prediction_text4 }}
    <br>
    <br>
    <br>
    6. {{ prediction_text5 }}
    <br>
    <br>
    <br>
    7. {{ prediction_text6 }}
    <br>
    <br>
    <br>
    8. {{ prediction_text7 }}
    <br>
    <br>
    <br>
    9. {{ prediction_text8 }}
    <br>
    <br>
    <br>
    10. {{ prediction_text9 }}
    <br>
    <br>
    <br>



    </h2>
  </div>
</body>
</html>
